target/*
target
node_modules/*
node_modules
lib/*
lib
bin/*
bin

.idea/*
.idea
.settings/
.classpath
.factorypath
.project

.sts4-cache
.attach_pid20178
.attach_pid12997
.attach_pid9337
.attach_pid7024

*.iml
*tmp-files
!*tmp-files/.gitkeep